<div class="exmpl-block i-clfx" id="slide<%= blockNumber %>">
	<div class="l-row">
		<div class="l-span l-span_8">
			<h2>hover_overlay_slide-horiz</h2>
			<div class="exmpl-block__description">
				<p>Комплексный эффект с наложенным элементом на базе смещения элемента при событии.</p>
				<p>Наложенный элемент появляется выезжая слева по горизонтали.</p>
			</div>
		</div>
		<div class="l-span l-span_4 l-span_last">
			<aside>
				<ul class="browser-support">
					<li class="browser-support__category">
						<p class="browser-support__category__title browser-support__category__title_desk">Desktop:</p>
						<ul class="browser-support__item-wr">
							<li class="browser-support__item">
							</li>
						</ul>
					</li>
					<li class="browser-support__category">
						<p class="browser-support__category__title browser-support__category__title_mobile">Mobile:</p>
						<ul class="browser-support__item-wr">
							<li class="browser-support__item">
							</li>
						</ul>
					</li>
				</ul>
			</aside>
		</div>
	</div>
	<div class="l-row i-clfx l-row_ov">
		<div class="exmpl-block__item l-span l-span_4">
			<div class="element element_hover hover_overlay_slide-horiz">
				<a href="#" class="element__inner">
					<img src="images/example/content-example.jpg" alt="" class="element__img" />
					<div class="element__overlay">
						<i class="element__overlay__bg element__overlay__bg_top"></i>
						<div class="element__overlay__inner element__overlay__inner_top">
							<h3 class="element__overlay__title">hover_overlay_slide-horiz</h3>
							<p class="element__overlay__teaser">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart</p>
							<span class="element__overlay__btn">Read more</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="exmpl-block__item l-span l-span_4">
			<div class="element element_hover hover_overlay_slide-horiz">
				<a href="#" class="element__inner">
					<img src="images/example/content-example.jpg" alt="" class="element__img" />
					<div class="element__overlay">
						<i class="element__overlay__bg element__overlay__bg_top"></i>
						<div class="element__overlay__inner element__overlay__inner_top">
							<h3 class="element__overlay__title">hover_overlay_slide-horiz</h3>
							<p class="element__overlay__teaser">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart</p>
							<span class="element__overlay__btn">Read more</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="exmpl-block__item l-span l-span_4 l-span_last">
			<div class="element element_hover hover_overlay_slide-horiz">
				<a href="#" class="element__inner">
					<img src="images/example/content-example.jpg" alt="" class="element__img" />
					<div class="element__overlay">
						<i class="element__overlay__bg element__overlay__bg_top"></i>
						<div class="element__overlay__inner element__overlay__inner_top">
							<h3 class="element__overlay__title">hover_overlay_slide-horiz</h3>
							<p class="element__overlay__teaser">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart</p>
							<span class="element__overlay__btn">Read more</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>