<div class="exmpl-block i-clfx" id="slide<%= blockNumber %>">
	<div class="l-row">
		<div class="l-span l-span_8">
			<h2>hover_rounding</h2>
			<div class="exmpl-block__description">
				<p>Скругление элемента при наведении на него.</p>
				<p>В IE9 будет отсутствовать плавность перехода.</p>
			</div>
		</div>
		<div class="l-span l-span_4 l-span_last">
			<aside>
				<ul class="browser-support">
					<li class="browser-support__category">
						<p class="browser-support__category__title browser-support__category__title_desk">Desktop:</p>
						<ul class="browser-support__item-wr">
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_chrome"></i>
								<span class="i-wai"> Google Chrome </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_ff"></i>
								<span class="i-wai"> Mozilla Firefox </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_opera"></i>
								<span class="i-wai"> Opera </span>
							</li>
						</ul>
					</li>
					<li class="browser-support__category">
						<p class="browser-support__category__title browser-support__category__title_mobile">Mobile:</p>
						<ul class="browser-support__item-wr">
							<li class="browser-support__item">
							</li>
						</ul>
					</li>
				</ul>
			</aside>
		</div>
	</div>
	<div class="l-row">
		<div class="exmpl-block__item l-span l-span_4">
			<div class="element element_hover hover_rounding">
				<div class="element__inner">
					<img src="images/example/content-example.jpg" alt="" class="element__img" />
				</div>
			</div>
		</div>
		<div class="exmpl-block__item l-span l-span_4">
			<div class="element element_hover hover_rounding">
				<div class="element__inner">
					<img src="images/example/content-example.jpg" alt="" class="element__img" />
				</div>
			</div>
		</div>
		<div class="exmpl-block__item l-span l-span_4 l-span_last">
			<div class="element element_hover hover_rounding">
				<div class="element__inner">
					<img src="images/example/content-example.jpg" alt="" class="element__img" />
				</div>
			</div>
		</div>
	</div>
</div>