<div class="exmpl-block i-clfx" id="slide<%= blockNumber %>">
	<div class="l-row">
		<h2 class="h1">Составные эффекты</h2>
	</div>
	<div class="l-row">
		<div class="l-span l-span_8">
			<h2>hover_glow</h2>
			<div class="exmpl-block__description">
				<p>Свечение и отражение элемента при событии</p>
			</div>
		</div>
		<div class="l-span l-span_4 l-span_last">
			<aside>
				<ul class="browser-support">
					<li class="browser-support__category">
						<p class="browser-support__category__title browser-support__category__title_desk">Desktop:</p>
						<ul class="browser-support__item-wr">
							<li class="browser-support__item">
							</li>
						</ul>
					</li>
					<li class="browser-support__category">
						<p class="browser-support__category__title browser-support__category__title_mobile">Mobile:</p>
						<ul class="browser-support__item-wr">
							<li class="browser-support__item">
							</li>
						</ul>
					</li>
				</ul>
			</aside>
		</div>
	</div>
	<div class="i-skin-black i-skin-black_expanded">
		<div class="l-row i-clfx">
			<div class="exmpl-block__item l-span l-span_4">
				<div class="element element_hover hover_glow">
					<div class="element__inner">
						<img src="images/example/content-example.jpg" alt="" class="element__img" />
					</div>
				</div>
			</div>
			<div class="exmpl-block__item l-span l-span_4">
				<div class="element element_hover hover_glow">
					<div class="element__inner">
						<img src="images/example/content-example.jpg" alt="" class="element__img" />
					</div>
				</div>
			</div>
			<div class="exmpl-block__item l-span l-span_4 l-span_last">
				<div class="element element_hover hover_glow">
					<div class="element__inner">
						<img src="images/example/content-example.jpg" alt="" class="element__img" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>