<div class="exmpl-block i-clfx" id="slide<%= blockNumber %>">
	<div class="l-row">
		<div class="l-span l-span_8">
			<h2>hover_slice_slide</h2>
			<div class="exmpl-block__description">
				Разрезание элемента на 2 части. Работает только с фоновым изображением.
			</div>
		</div>
		<div class="l-span l-span_4 l-span_last">
			<aside>
				<ul class="browser-support">
					<li class="browser-support__category">
						<p class="browser-support__category__title browser-support__category__title_desk">Desktop:</p>
						<ul class="browser-support__item-wr">
							<li class="browser-support__item">
							</li>
						</ul>
					</li>
					<li class="browser-support__category">
						<p class="browser-support__category__title browser-support__category__title_mobile">Mobile:</p>
						<ul class="browser-support__item-wr">
							<li class="browser-support__item">
							</li>
						</ul>
					</li>
				</ul>
			</aside>
		</div>
	</div>
	<div class="l-row i-clfx l-row_ov">
		<div class="exmpl-block__item l-span l-span_4">
			<div class="element element_hover hover_slice hover_slice_back-parted hover_slice_front-80-20 hover_slice_slide">
				<a href="#" class="element__inner">
					<div class="element__front">
						<i class="element__front__slice element__front__slice_1"></i>
						<i class="element__front__slice element__front__slice_2"></i>
					</div>
					<div class="element__overlay">
						<div class="element__overlay__inner">
							<h3 class="element__overlay__title">hover_slice</h3>
							<span class="element__overlay__btn">Image caption</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="exmpl-block__item l-span l-span_4">
			<div class="element element_hover hover_slice hover_slice_back-parted hover_slice_front-50-50 hover_slice_slide">
				<a href="#" class="element__inner">
					<div class="element__front">
						<i class="element__front__slice element__front__slice_1"></i>
						<i class="element__front__slice element__front__slice_2"></i>
					</div>
					<div class="element__overlay">
						<div class="element__overlay__inner">
							<h3 class="element__overlay__title">hover_slice</h3>
							<span class="element__overlay__btn">Image caption</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="exmpl-block__item l-span l-span_4 l-span_last">
			<div class="element element_hover hover_slice hover_slice_back-parted hover_slice_front-80-20 hover_slice_slide">
				<a href="#" class="element__inner">
					<div class="element__front">
						<i class="element__front__slice element__front__slice_1"></i>
						<i class="element__front__slice element__front__slice_2"></i>
					</div>
					<div class="element__overlay">
						<div class="element__overlay__inner">
							<h3 class="element__overlay__title">hover_slice</h3>
							<span class="element__overlay__btn">Image caption</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>