<div class="exmpl-block i-clfx" id="slide<%= blockNumber %>">
	<div class="l-row">
		<div class="l-span l-span_8">
			<h2>hover_border-anim</h2>
			<div class="exmpl-block__description">

			</div>
		</div>
		<div class="l-span l-span_4 l-span_last">
			<aside>
				<ul class="browser-support">
					<li class="browser-support__category">
						<p class="browser-support__category__title browser-support__category__title_desk">Desktop:</p>
						<ul class="browser-support__item-wr">
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_chrome"></i>
								<span class="i-wai"> Google Chrome </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_ff"></i>
								<span class="i-wai"> Mozilla Firefox </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_opera"></i>
								<span class="i-wai"> Opera desktop </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_safari"></i>
								<span class="i-wai"> Safari </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_ie10"></i>
								<span class="i-wai"> MS Internet Explorer 10 </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_ie9-partial"></i>
								<span class="i-wai"> MS Internet Explorer 9 Partial </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_ie8-partial"></i>
								<span class="i-wai"> MS Internet Explorer 8 Partial </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_ie7-partial"></i>
								<span class="i-wai"> MS Internet Explorer 8 Partial </span>
							</li>
						</ul>
					</li>
					<li class="browser-support__category">
						<p class="browser-support__category__title browser-support__category__title_mobile">Mobile:</p>
						<ul class="browser-support__item-wr">
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_ios5"></i>
								<span class="i-wai"> iOS 5 </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_ios-6"></i>
								<span class="i-wai"> iOS 6 </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_android-2"></i>
								<span class="i-wai"> Android 2.3 </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_android-4"></i>
								<span class="i-wai"> Android 4 </span>
							</li>
							<li class="browser-support__item">
								<i class="browser-support__ico browser-support__ico_opera-mobile"></i>
								<span class="i-wai"> Opera mobile </span>
							</li>
						</ul>
					</li>
				</ul>
			</aside>
		</div>
	</div>
	<div class="l-row">
		<div class="exmpl-block__item l-span l-span_4">
			<div class="element element_hover hover_border-anim">
				<div class="element__inner">
					<img src="images/example/content-example.jpg" alt="" class="element__img" />
				</div>
				<i class="element__mask"></i>
			</div>
		</div>
		<div class="exmpl-block__item l-span l-span_4">
			<div class="element element_hover hover_border-anim">
				<div class="element__inner">
					<img src="images/example/content-example.jpg" alt="" class="element__img" />
				</div>
				<i class="element__mask"></i>
			</div>
		</div>
		<div class="exmpl-block__item l-span l-span_4 l-span_last">
			<div class="element element_hover hover_border-anim">
				<div class="element__inner">
					<img src="images/example/content-example.jpg" alt="" class="element__img" />
				</div>
				<i class="element__mask"></i>
			</div>
		</div>
	</div>
</div>