<div class="region-footer l-global-footer">
	<footer role="contentinfo">
		<div class="l-global-footer__inner">
			<div class="l-global-footer__left">
				<p class="copy">
					Weiss <br />
					&copy; 2013 blank canvas sass-css helper. ver 3.0
				</p>
			</div>
		</div>
	</footer>
</div>
