<div class="region-header l-global-header">
	<div class="l-row">
		<div class="l-span l-span_12">
			<div class="heading">
				<div class="heading__top">
					<a href="index.html" class="heading__menu-ln">Effects catalog </a> >
					<h1><%= data.page.title %></h1>
				</div>
			</div>
		</div>
	</div>
</div>