---
title: Hover

hoverBlocks:
- slide-up
- border-1
- border-2
- border-3
- border-rollover
- border-anim
- shadow
- opacity
- zoom
- zoom-in
- zoom-out
- zoom-slide-bg
- slide-horiz
- rotate
- filter-blur
- rounding
- filter-desaturate
- filter-brightness
- filter-sepia
- filter-invert
- filter-huerotate
- glow

---
<div>
	<ul class="examples-nav">
		<% current_page.data.hoverBlocks.each do |block| %>
		<% blockNum = current_page.data.hoverBlocks.index(block) + 1 %>
		<li><a href="#slide<%= blockNum %>" title="<%= block %>"><%= block %></a></li>
		<% end %>
	</ul>

	<% current_page.data.hoverBlocks.each do |block| %>
		<% blockNum = current_page.data.hoverBlocks.index(block) + 1 %>
		<%= partial(:"partials/hovers/_block__hover_#{block}", :locals => { :blockNumber => blockNum}) %>
	<% end %>
</div>